.card {
  background-color: #30242d;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 16px;
  padding: 0px 10px 6px;
  text-align: center;
  box-shadow: 0 4px 10px #30242d;
  transition: transform 0.3s ease;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card:hover {
  transform: translateY(-5px);
}

.card p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.3;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 5px;
  background-color: #ead2e4;
  color: rgb(17, 12, 15);
  border-radius: 12px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.card a:hover {
  background-color: #ead2e4;
}

