.container {
  padding: 30px;
}

.search-input {
  width: 100%;
  max-width: 300px;
  padding: 5px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 250px)); 
  gap: 40px;
  padding: 0;
  list-style: none;
  justify-content: center; 
}

